<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="9eb3f489-660d-498d-9f84-c66c7bbfb7c1" Publisher="CN=Jerrel" Version="1.0.0.0" />
  <Properties>
    <DisplayName>LaddersAndSlides</DisplayName>
    <PublisherDisplayName>JBlankenship</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="LaddersAndSlidesW8UI.App">
      <VisualElements DisplayName="LaddersAndSlides" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="LaddersAndSlidesW8UI" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>